@font-face {
  font-family: "SmartFontUI";
  src: url("../font/SmartFontUI.otf");
}

body {
  background-color: #448cad;
  font-family: "SmartFontUI" !important;
}

button {
  font-family: "SmartFontUI" !important;
}
