@font-face {
  font-family: "SmartFontUI";
  src: url("../font/SmartFontUI.otf");
}

/*
 * コンポーネント
 */

/*
 * ログイン
 */

//ログイン-ロゴ行
.ui.grid .row.login-logo-row {
  padding-bottom: 0;

}

//ログイン-ボタン領域
.login-button-area {
  margin-top: 1.5em;

  //ログイン-ボタン
  .login-button {
    padding: 0.5em 1em;
    font-size: 20px;
    border-radius: 5px;



  }

  //ログイン-preボタン
  .login-pre-button {
    padding: 0.5em 1em;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 0.5em;
    width: 4.6em;
  }
}


/*
 * UIコンポーネント
 */

/*
 * フォーム
 */

//UnderLineForm
.under-line-form {
  .field {
    .ui.input {
      input {
        color: black;
        border: 0;
        border-bottom: 3px solid black;
        border-radius: 0;
        text-align: center;
        height: 36px;
        line-height: 36px;
        background-color: transparent;
        font-size: 20px;
        padding: 0 5px;
      }
    }
  }
}

/*
 *　レイアウト
 */

//CenterPanel
.ui.segment.center-panel {
  padding: 4.2em 2em;
}

//CenterContainer
.ui.grid.center-container-grid {
  padding: 0em 2.6em;
  height: 100vh;

  .center-container-column {
    max-width: 37em;
  }
}

//Logo
.logo-title {
  font-size: 60px;
  font-weight: bold;
  color: #F4F5F6;
}
